<div class="game-end-modal">
  <app-modal
    [showCloseIcon]="showCloseIcon"
    (dismissModal)="handleModalClose()"
  >
    <div body class="game-end-info">
      <div class="game-end-info__outcome-message">
        <span [class]="getOutcomeMessageClass()">{{ outcomeMessage }}</span>
      </div>

      <div class="game-end-info__item todays-word">
        <span>Today's word was</span>
        <span class="game-end-info__item todays-word__word">{{
          gameEndInfo.word
        }}</span>
      </div>
      <div class="game-end-info__item todays-word-definition">
        {{ gameEndInfo.definition }}
      </div>
      <div class="game-end-info__item streak-info">
        <div class="streak-item">
          <div class="streak-item__title">Current streak</div>
          <div class="streak-item__value">
            <span [class]="getCurrentStreakValueClass()">{{
              gameEndInfo.currentStreak
            }}</span>
          </div>
        </div>
        <div class="streak-item">
          <div class="streak-item__title">Longest streak</div>
          <div class="streak-item__value">
            <span [class]="getLongestStreakValueClass()">{{
              gameEndInfo.longestStreak
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </app-modal>
</div>
