<div>
  <!-- Row 1 -->
  <div class="skeleton-row">
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '250px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
  </div>

  <!-- Row 2 -->
  <div>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '250px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
  </div>

  <!-- Row 3 -->
  <div>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '250px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div>
    <!-- Row 4 -->
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '250px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div>
    <!-- Row 5 -->
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '250px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div>
    <!-- Row 6 -->
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '150px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '100px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{
        height: '100px',
        width: '250px',
        'background-color': '#000000',
        margin: '1px'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
