@import '../../../styles.scss';

.login-form {
  min-height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    &-header {
      position: relative;
      margin-bottom: 20px;
      .title {
        font-size: 24pt;
        font-weight: bold;
      }
      .subtitle {
        font-size: 12pt;
        color: $subtext-gray;
      }
      .register {
        position: absolute;
        right: 0;
        top: 10px;
        color: $fl-green;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &-input {
      position: relative;
      display: flex;
      flex-direction: column;

      label {
        color: $subtext-gray;
        margin-bottom: 0.2rem;
      }

      input {
        @media (min-width: 100px) {
          min-width: 250px;
        }

        @media (min-width: 700px) {
          min-width: 450px;
        }
        padding: 8px;
        border-radius: 10px;
        border: 1px solid $subtext-gray;
        color: $subtext-gray;
        &:focus {
          outline: 1px solid $fl-green;
        }
      }

      .toggle-password-visibility {
        position: absolute;
        top: 45%;
        right: 3%;
        &:hover {
          cursor: pointer;
        }
      }

      &-error {
        margin-top: 2px;
        min-height: 20px;
        font-size: 10pt;
        color: red;
      }

      .focus {
        color: $fl-green;
      }
    }

    &-item {
      margin-top: 7px;
    }

    &-submit {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .submit-btn {
        min-width: 125px;
        min-height: 40px;
        background-color: $fl-green;
        color: $fl-white;
        border: 1px solid $subtext-gray;

        &:hover {
          background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
        }
      }

      .login-error {
        color: red;
        margin-left: 20px;
      }
    }
  }

  .loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    ::ng-deep mat-spinner {
      max-width: 15px;
      max-height: 15px;
      circle {
        stroke: white;
      }
    }
  }
}

.switch-message {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;

  .switch {
    color: rgb(68, 141, 250);
    cursor: pointer;
  }
}
