<div class="modal__overlay--visible" id="modal" (mousedown)="handleOverlayClicked($event)">
  <div class="modal__content">
    <div class="modal__header">
      <button *ngIf="showCloseIcon" class="modal__header-close-button" (click)="handleModalClose()">&times;</button>
      <div class="modal__header-title">{{ modalTitle }}</div>
      <div class="modal__header-subtitle">{{ modalSubtitle }}</div>
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="modal__body">
      <ng-content select="[body]"></ng-content>
    </div>
  </div>
</div>
