<div class="contact">
  <div class="graphic">
    <div class="graphic__title">Need something?</div>
    <div class="graphic__explanation">
      We love hearing from our users. If you have any questions, found a bug, or just want to say hello, please drop us
      a note!
    </div>
    <div class="graphic__donate">
      <div>
        If you're feeling generous, please consider
        <a href="https://www.buymeacoffee.com/freelunch">buying us a coffee</a>!
      </div>
      <img src="../../../../assets/coffee.png" />
    </div>
  </div>
  <div class="form-container">
    <contact-form></contact-form>
  </div>
</div>
