@import '../../../styles.scss';

.app-footer {
  width: 100%;
  min-height: 150px;
  background-color: $fl-blue;
  color: $fl-white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
