.game-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .game-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .guess {
    display: flex;

    .guess-column-field {
      margin: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      max-width: 100px;
      min-height: 75px;
      max-height: 75px;
      color: white;
      background-color: slategrey;
      text-align: center;
    }

    .guess-result-field {
      margin: 1px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      max-width: 100px;
      min-height: 100px;
      color: white;
      transition: background-color 0.3s ease-in;
      background-color: black;

      .field-value {
        transition: opacity 0.3s ease-in;
        opacity: 0;
      }

      .new-guess-input {
        transition: opacity 0.1s ease-in;
        opacity: 0;
        max-width: 90px;
        &:focus {
          outline: none;
        }
      }

      .invalid {
        border: 1px solid red;
      }
    }

    .semi-wide {
      min-width: 150px;
      max-width: 150px;
    }

    .wide {
      min-width: 250px;
      max-width: 250px;
    }

    .less-than-result {
      background-color: rgb(192, 6, 0);
    }

    .greater-than-result {
      background-color: rgb(0, 64, 128);
    }

    .same-result {
      background-color: rgb(0, 128, 0);
    }
  }
}
