<div class="new-user-league-modal">
  <app-modal
    [modalTitle]="modalTitle"
    [modalSubtitle]="modalSubtitle"
    [showCloseIcon]="showCloseIcon"
    (dismissModal)="handleModalClose()"
    ><div body class="new-user-league">
      <form class="new-user-league__form" *ngIf="canImportNewLeague">
        <div class="new-user-league__form-item">
          <div class="new-user-league__form-item__label">League platform</div>
          <dropdown
            id="league-source-dropdown"
            [items]="leagueSourceDropdownItems"
            [disabled]="true"
            (onClick)="onSelectLeagueSource($event)"
          ></dropdown>
        </div>

        <div class="new-user-league__form-item">
          <div class="new-user-league__form-item__label">Get the league ID from the URL of your league</div>
          <div class="new-user-league__form-item__input">
            <input
              type="number"
              placeholder="League ID"
              [(ngModel)]="leagueId"
              (input)="onLeagueIdChange()"
              (keydown.enter)="getUserLeagueData()"
              name="leagueId"
              autocomplete="off"
            />
            <button class="btn find-league-btn" (click)="getUserLeagueData()">
              <div *ngIf="!(newUserLeagueDataIsLoading$() | async)">Find</div>
              <div *ngIf="newUserLeagueDataIsLoading$() | async"><mat-spinner></mat-spinner></div>
            </button>
            <span *ngIf="newUserLeagueDataIsLoading$() | async" class="loading-msg"
              >This may take a few seconds...</span
            >
          </div>
          <div class="new-user-league__form-item__sublabel" style="word-break: break-all">
            https://fantasy.espn.com/football/team?leagueId=<span class="highlighted">12345678</span
            >&teamId=1&seasonId=2024
          </div>
        </div>
        <div class="found-league-msg">{{ foundLeagueMessage }}</div>
        <div *ngIf="foundLeague" class="new-user-league__form-item">
          <div class="new-user-league__form-item__label">League name</div>
          <div class="new-user-league__form-item__input">
            <input
              type="text"
              placeholder="League Name"
              [(ngModel)]="leagueName"
              name="leagueName"
              autocomplete="off"
              [disabled]="!foundLeague"
            />
          </div>
        </div>
        <div *ngIf="foundLeague" class="new-user-league__form-item">
          <div class="new-user-league__form-item__label">Select your team</div>
          <dropdown
            id="team-dropdown"
            [items]="teamDropdownItems"
            triggerMarkup="Select your team"
            (onClick)="onSelectTeam($event)"
          ></dropdown>
        </div>
        <div
          *ngIf="foundLeague"
          class="new-user-league__form-item"
          style="flex-direction: row; justify-content: flex-end; align-items: center; margin-bottom: 0px"
        >
          <div class="check-user-league-msg">{{ checkUserLeagueMessage }}</div>
          <button
            *ngIf="foundLeague"
            [class]="getSaveUserLeagueButtonClasses()"
            (click)="handleSaveNewUserLeague()"
            style="align-items: flex-end; margin-bottom: 0px"
          >
            <div *ngIf="!(checkUserLeagueIsLoading$() | async)">Save</div>
            <div *ngIf="checkUserLeagueIsLoading$() | async"><mat-spinner></mat-spinner></div>
          </button>
        </div>
      </form>
      <div *ngIf="!canImportNewLeague" class="limit-reached">
        Users may only import a maximum of 5 leagues into the Free Lunch platform. We apologize for the inconvenience
        &#8212; support for more leagues will be added soon.
      </div>
    </div>
  </app-modal>
</div>
