<div class="header-bar">
  <div class="left-nav-options">
    <div class="app-title">
      <div class="logo-container"><img src="../../../assets/logo.png" class="logo" (click)="redirectToHome()" /></div>
      <div class="nav-options-container">
        <nav-option *ngFor="let option of navOptions" [navOption]="option" style="margin-left: 20px"></nav-option>
      </div>
    </div>
  </div>
  <div class="right-nav-options">
    <div class="app-help">
      <nav-option
        *ngIf="sessionToken"
        [navOption]="LOGOUT_NAV_OPTION"
        [bypassNav]="true"
        (click)="handleLogout()"
      ></nav-option>
      <nav-option
        *ngIf="!sessionToken"
        [navOption]="LOGIN_NAV_OPTION"
        [bypassNav]="true"
        (click)="handleLogin()"
      ></nav-option>
      <nav-option [navOption]="CONTACT_US_NAV_OPTION" [bypassNav]="true" (click)="handleClickContactUs()"></nav-option>
    </div>
  </div>
</div>
