.header-bar {
  width: 100vw;
  background-color: rgb(98, 98, 250);
  display: flex;
  justify-content: start;
  border-bottom: 1px solid black;

  .game-title {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 0;

    .title {
      font-size: 16pt;
      margin-left: 10pt;
    }

    .logo {
      max-width: 90px;
      cursor: pointer;
    }
  }

  .logout {
    position: absolute;
    right: 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
