@import '../../../styles.scss';

.header-bar {
  width: 100%;
  background-color: $fl-blue;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;

  .app-title {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 0;

    .title {
      font-size: 16pt;
      margin-left: 10pt;
    }

    .logo {
      margin: 10px;
      max-width: 50px;
      cursor: pointer;
    }

    .nav-options-container {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .app-help {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
