@import '../../../../styles.scss';

.trade {
  background-color: $fl-white;
  padding: 25px;
  &-container {
    display: flex;
    justify-content: space-around;
    min-height: 600px;

    &__team {
      width: 40%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid black;

      &__left {
        background-color: $fl-green;
      }

      &__right {
        background-color: $fl-orange;
      }

      &-roster {
        display: flex;
        align-items: flex-start;
        margin-top: 30px;

        ::ng-deep {
          .player-row {
            font-size: 10pt;

            .roster-pos {
              min-width: 35px !important;
            }

            .player {
              min-width: 100px !important;

              &__profile-pic {
                width: 25px !important;
                height: 25px !important;
              }
            }
          }
        }
      }

      &-none-selected {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
        font-weight: bold;
      }
    }

    &__trade-block-container {
      width: 15%;
      padding: 10px;
      display: flex;
      align-items: center;

      .trade-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;

        &__side {
          width: 100%;
          height: 45%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          &-arrow {
            width: 120px;
          }

          .player {
            width: 100%;
            min-width: 100px;
            padding: 5px;
            font-size: 10pt;
            border-radius: 20px;
            border: 1px solid $fl-white;
            color: $fl-white;
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: opacity 0.5s;
            &:hover {
              cursor: pointer;
              background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
            }

            &__profile {
              display: flex;
              align-items: center;
              width: 60%;
              &-pic {
                margin-right: 10px;
                width: 25px;
                height: 25px;
                border: 1px solid black;
                border-radius: 50px;
              }
            }

            &__about {
              width: 40%;
              margin-right: 10px;
              text-align: right;
            }
          }
          .quarterback {
            background-color: $fl-qb;
          }
          .runningback {
            background-color: $fl-rb;
          }
          .widereceiver {
            background-color: $fl-wr;
          }
          .tightend {
            background-color: $fl-te;
          }
          .defense {
            background-color: $fl-dst;
          }
          .kicker {
            background-color: $fl-k;
          }
        }
        .right {
          justify-content: end;
        }

        .sim-btn-container {
          .sim-btn {
            background-color: $fl-red;
            color: $fl-white;
            border: 2px solid black;
            padding: 6px;
            border-radius: 8px;
            font-size: 12pt;
            min-width: 77px;
            min-height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
              background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
            }

            ::ng-deep mat-spinner {
              max-width: 15px;
              max-height: 15px;
              circle {
                stroke: black;
              }
            }
          }

          .disabled {
            background-color: $fl-gray;
            &:hover {
              background-image: none;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
