.trade {
  background-color: rgb(253, 255, 230);
  padding: 25px;
  min-height: 800px;
  &-container {
    display: flex;
    justify-content: space-around;

    &__team {
      width: 40%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid black;
      background-color: rgb(238, 218, 255);

      &-roster {
        display: flex;
        align-items: start;

        ::ng-deep {
          .player-row {
            font-size: 10pt;

            .roster-pos {
              min-width: 35px !important;
            }

            .player {
              min-width: 100px !important;

              &__profile-pic {
                width: 25px !important;
                height: 25px !important;
              }
            }
          }
        }
      }

      &-none-selected {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
        font-weight: bold;
      }
    }

    &__trade-block-container {
      width: 15%;
      padding: 10px;
      display: flex;
      align-items: center;

      .trade-block {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        border: 1px solid black;
        background-color: rgb(167, 255, 203);

        &__side {
          width: 100%;
          height: 45%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;

          &-arrow {
            font-size: 32pt;
            font-weight: bold;
          }

          .player {
            width: 80%;
            min-width: 100px;
            padding: 5px;
            font-size: 10pt;
            border-radius: 20px;
            border: 1px solid black;
            margin-left: 15px;
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: opacity 0.5s;
            &:hover {
              cursor: pointer;
              background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
            }

            &__profile {
              display: flex;
              align-items: center;
              width: 60%;
              &-pic {
                margin-right: 10px;
                width: 25px;
                height: 25px;
                border: 1px solid black;
                border-radius: 50px;
              }
            }

            &__about {
              width: 40%;
              margin-right: 10px;
              text-align: right;
            }
          }
          .quarterback {
            background-color: lightblue;
          }
          .runningback {
            background-color: lightgreen;
          }
          .widereceiver {
            background-color: lightcoral;
          }
          .tightend {
            background-color: plum;
          }
          .defense {
            background-color: burlywood;
          }
          .kicker {
            background-color: lightgray;
          }
        }
        .right {
          justify-content: end;
        }

        .sim-btn-container {
          ::ng-deep mat-spinner {
            max-width: 25px;
            circle {
              stroke: black;
            }
          }
          .unclickable {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
