@import '../../../../styles.scss';

.trade {
  background-color: $fl-white;
  min-height: 75vh;
  &-container {
    display: flex;
    justify-content: space-around;
    background-color: $fl-gray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    &__team-container {
      width: 42%;
      border-radius: 10px;
      border: 1px solid black;
      margin: 15px;
      padding: 5px;

      &__left {
        background-color: $fl-green;
      }

      &__right {
        background-color: $fl-orange;
      }

      &__team {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: $fl-brown;

        &-roster {
          display: flex;
          align-items: stretch;
          margin-top: 10px;

          ::ng-deep {
            .player-row {
              font-size: 10pt;
              padding: 5px;

              .roster-pos {
                min-width: 35px !important;
              }

              .player {
                min-width: 100px !important;

                &__profile-pic {
                  width: 25px !important;
                  height: 25px !important;
                }
              }
            }
          }
        }

        &-none-selected {
          height: 90%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16pt;
          font-weight: bold;
        }
      }
    }

    &__trade-block-container {
      width: 20%;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid black;
      margin: 50px 0px;
      display: flex;
      align-items: center;
      background-color: $fl-white;

      .trade-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;

        &__side {
          width: 100%;
          height: 35%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          &-arrow {
            height: 30px;
            width: 80px;
          }

          .players-container {
            min-height: 100%;
            max-height: 200px;
            min-width: 100%;
            background-color: $fl-gray;
            border: 1px solid black;
            overflow-y: scroll;
            ::-webkit-scrollbar {
              display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
          }

          .player {
            width: 100%;
            min-width: 100px;
            padding: 5px;
            font-size: 10pt;
            border-bottom: 1px solid black;
            color: black;
            background-color: $fl-white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
              cursor: pointer;
              background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
            }

            &__profile {
              display: flex;
              align-items: center;
              width: 60%;
              &-pic {
                margin-right: 10px;
                width: 25px;
                height: 25px;
                border: 1px solid black;
                border-radius: 50px;
                background-color: $fl-white;
              }
              .dst {
                border: 0px;
                background-color: transparent;
                border-radius: 0px;
              }
            }

            &__about {
              width: 40%;
              margin-right: 10px;
              text-align: right;
            }
          }
        }

        .sim-btn-container {
          .sim-btn {
            background-color: $fl-red;
            color: $fl-white;
            border: 2px solid black;
            padding: 6px;
            border-radius: 8px;
            font-size: 12pt;
            min-width: 85px;
            min-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
              background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
            }

            ::ng-deep mat-spinner {
              max-width: 15px;
              max-height: 15px;
              circle {
                stroke: black;
              }
            }
          }

          .disabled {
            border-color: rgb(114, 114, 114);
            background-color: $fl-gray;
            color: rgb(114, 114, 114);
            &:hover {
              background-image: none;
            }
            &:focus {
              outline: none;
            }
          }
        }
        .arrow-container {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          .clear-block-btn {
            position: absolute;
            right: 0;
            padding: 0px;
            color: $fl-red;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
        .arrow-container__left {
          align-items: flex-end;
        }
        .arrow-container__right {
          align-items: flex-start;
        }
      }
    }
  }

  .options {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;

    &__page-info {
      font-size: 18pt;
      font-weight: bold;
    }

    &__back-btn-container {
      display: flex;
      &:hover {
        cursor: pointer;
        background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
      }

      .back-btn {
        padding-left: 8px;
      }
    }
  }
}
