<div class="trade">
  <div *ngIf="!(leagueDataIsLoading$() | async)" class="trade-container">
    <div class="trade-container__team trade-container__team__left">
      <dropdown id="left-team-dropdown" [items]="leftTeamDropdownItems" (onClick)="onSelectLeftTeam($event)"></dropdown>
      <team-roster
        class="trade-container__team-roster"
        [starters]="leftStarters"
        [bench]="leftBench"
        [startingPositions]="startingPositions"
        [mode]="teamRosterMode"
        [playersBeingTraded]="tradeBlock.left"
        (onPlayerTradeAdd)="addPlayerToTrade($event)"
        (onPlayerTradeRemove)="removePlayerFromTrade($event)"
      ></team-roster>
    </div>
    <div class="trade-container__trade-block-container">
      <div class="trade-block">
        <div class="trade-block__side left">
          <img src="../../../../assets/arrow-right.png" class="trade-block__side-arrow" style="margin-bottom: 5px" />
          <div
            *ngFor="let player of tradeBlock.left"
            [class]="getPlayerCssClasses(player, i, false)"
            (click)="handlePlayerClick(player)"
          >
            <div class="player__profile">
              <img src="../../../../assets/anonymous.jpg" class="player__profile-pic" />
              <div class="player__profile-name">{{ player.name }}</div>
            </div>
            <div class="player__about">{{ player.position }} - {{ player.proTeam }}</div>
          </div>
        </div>
        <div class="sim-btn-container">
          <button [class]="canSimTrade ? 'sim-btn' : 'sim-btn disabled'" (click)="simulateTrade()">
            <span *ngIf="!(tradeSimulationIsLoading$() | async)">Simulate</span>
            <mat-spinner *ngIf="tradeSimulationIsLoading$() | async"></mat-spinner>
          </button>
        </div>
        <div class="trade-block__side right">
          <div
            *ngFor="let player of tradeBlock.right"
            [class]="getPlayerCssClasses(player, i, false)"
            (click)="handlePlayerClick(player)"
          >
            <div class="player__profile">
              <img src="../../../../assets/anonymous.jpg" class="player__profile-pic" />
              <div class="player__profile-name">{{ player.name }}</div>
            </div>
            <div class="player__about">{{ player.position }} - {{ player.proTeam }}</div>
          </div>
          <img src="../../../../assets/arrow-left.png" class="trade-block__side-arrow" style="margin-top: 5px" />
        </div>
      </div>
    </div>
    <div class="trade-container__team trade-container__team__right">
      <dropdown
        id="right-team-dropdown"
        [items]="rightTeamDropdownItems"
        (onClick)="onSelectRightTeam($event)"
        [triggerMarkup]="rightTeamDropdownTriggerMarkup"
      ></dropdown>
      <team-roster
        *ngIf="rightTeam"
        class="trade-container__team-roster"
        [starters]="rightStarters"
        [bench]="rightBench"
        [startingPositions]="startingPositions"
        [mode]="teamRosterMode"
        [playersBeingTraded]="tradeBlock.right"
        (onPlayerTradeAdd)="addPlayerToTrade($event)"
        (onPlayerTradeRemove)="removePlayerFromTrade($event)"
      ></team-roster>
      <div *ngIf="!rightTeam" class="trade-container__team-none-selected">Please select a team to trade with</div>
    </div>
  </div>
  <div *ngIf="leagueDataIsLoading$() | async">
    <div class="display-4">Loading league...</div>
  </div>
</div>

<!-- Trade result modal -->
<trade-result-modal
  *ngIf="showTradeResultModal"
  [modalTitle]="'Trade Result'"
  [tradeResult]="tradeResult"
  [leagueStandings]="leagueStandings"
  [tradeBlock]="tradeBlock"
  [showCloseIcon]="true"
  (dismissModal)="closeTradeResultModal()"
></trade-result-modal>
