.dropdown {
  position: relative;
  &__trigger {
    background-color: white;
    border: 1px solid black;

    &-arrow {
      margin-left: 10px;
    }
  }

  &__menu {
    position: fixed;

    &-row {
      position: relative;
      z-index: 9999;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      background-color: white;
      padding: 5px;
      margin-left: 5px;

      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }

  &__right-auto {
    right: auto;
  }
}
