// Brand color palette
$fl-blue: #1a237e;
$fl-orange: #ff6f00;
$fl-green: #4caf50;
$fl-white: #fcfcfc;
$fl-red: #d32f2f;
$fl-gray: #cacaca;
$fl-dark-gray: #cacaca67;
$fl-brown: #e9b162;

// Text color palette
$subtext-gray: #8b8b8b;

// Player position color palette
$fl-qb: #1a237e;
$fl-rb: #002d04;
$fl-wr: #800000;
$fl-te: #3c4142;
$fl-k: #804a00;
$fl-dst: #2f4f4f;

body {
  background-color: $fl-white;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.util__center-flex {
  display: flex;
  justify-content: flex;
  align-items: flex;
}

.even {
  background-image: linear-gradient(rgb(0 0 0/0%) 0 0);
}
.odd {
  background-image: linear-gradient(rgb(0 0 0/7%) 0 0);
}
