@import '../../../styles.scss';

.league-standings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px;

  .team-row {
    width: 100%;
    display: flex;
    padding: 8px;
    font-size: 11pt;

    &__team-rank {
      width: 5%;
    }

    &__team-name {
      width: 45%;
    }

    &__team-record {
      width: 20%;
    }

    &__team-proj-record {
      width: 30%;

      .positive {
        color: $fl-green;
      }

      .negative {
        color: $fl-red;
      }
    }
  }

  .smaller {
    padding: 5px;
    font-size: 8pt;
  }

  .user-team {
    font-weight: bold;
  }

  .col-header {
    font-weight: bold;
  }
}
