<div class="league-standings">
  <div class="team-row col-header" style="border-bottom: 1px solid black">
    <div class="team-row__team-rank"></div>
    <div class="team-row__team-name">Team</div>
    <div class="team-row__team-record">Record</div>
    <div class="team-row__team-proj-record">Projected</div>
    <div class="team-row__team-proj-record" *ngIf="leagueSimulationAfterTrade">Projected After Trade</div>
  </div>
  <div [class]="getTeamClasses(team, i)" *ngFor="let team of leagueStandings; index as i">
    <div class="team-row__team-rank">{{ i + 1 }}</div>
    <div class="team-row__team-name">{{ team.teamName }}</div>
    <div class="team-row__team-record">{{ team.wins }} - {{ team.losses }}</div>
    <div class="team-row__team-proj-record">
      <div *ngIf="leagueSimulation">
        {{ getSimulatedRecord(team) }}
        <span [class]="getRankChangeClasses(team)">{{ getRankChangeAfterSimulation(team) }}</span>
      </div>
    </div>
    <div *ngIf="leagueSimulationAfterTrade" class="team-row__team-proj-record">
      <div [class]="getWinDifferenceClasses(team)">
        {{ getSimulatedRecordAfterTrade(team) }}
      </div>
    </div>
  </div>
</div>
