.login {
  margin: 50px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  ::ng-deep mat-spinner circle {
    stroke: black;
  }
}
